@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <input id="File1" type="file" />
        <input id="Radio1" type="radio" />

    </div>
</body>
</html>
